*{
    margin: 0;
    padding: 0;
}
#insta{
    float: left;
    height: 50px;
    margin-left: 70px;
    margin-top: 20px;
}
#camera{
    height: 40px;
    position: absolute;
    right: 30px;
    top: 20px;
}
.header{
    height: 80px;
}